<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin: *
</IfModule>
<Files *.php>
	Deny from all
</Files>
<Files *.tpl>
	Deny from all
</Files>
<Files index.php>
	Allow from all
</Files>
<Files admin.php>
	Allow from all
</Files>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.(css|js)$ $1.$5 [NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)\.(dev_[0-9]+)\.(css|js)$ $1.$3 [NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/?(.*)$ admin.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^/?(.*)$ index.php [QSA,NC,L]
</IfModule>