<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin: *
</IfModule>
<Files *.php>
	Deny from all
</Files>
<Files *.tpl>
	Deny from all
</Files>
<Files index.php>
	Allow from all
</Files>
<Files admin.html.php>
    Allow from all
</Files>
<Files admin.xhr.php>
    Allow from all
</Files>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.(css|js)$ $1.$5 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^admin/xhr/?(.*)$ admin.xhr.php?__url=$1 [QSA,NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^admin/?(.*)$ admin.html.php?__url=$1 [QSA,NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?__url=$1 [QSA,NC,L]
</IfModule>