@use "sass:map";

@use "variables" as *;
@use "functions" as *;

* { box-sizing: border-box; }

@mixin MixTemplate($params: null) {

	html {
		min-width: 360px; height: 100%; font-family: PetersburgC, sans-serif; font-size: 14px; flex: auto; background-image: GetParam($params, -bg-img, url("img/wall.jpg"));
		body {
			display: flex; flex-direction: column; margin: 0; height: 100%; font-size: $base * 1.2;
			> header { display: GetParam($params, -header-display, revert); }
			> main {
				flex: auto; margin: $base3 auto; padding: GetParam($params, -main-padding, $base4);
				width: GetParam($params, -main-width, 1200px);
				background-color: GetParam($params, -main-bg-color, $color-neutral-extra-light);
				box-shadow: GetParam($params, -main-box-shadow, $shadow_small);
			}
			> footer { display: GetParam($params, -footer-display, revert); }
		}
	}
}

@include MixScreen($size5XL) { @include MixTemplate(); }
@include MixScreen($sizeL, $size5XL) { @include MixTemplate((-main-width: 90%)); }
@include MixScreen($sizeS, $sizeL) { @include MixTemplate((-main-width: 100%, -main-padding: $base2)); }
@include MixScreen(null, $sizeS) { @include MixTemplate((-main-width: 100%, -main-padding: $base)); }
@include MixPrint() { @include MixTemplate((-bg-img: none, -header-display: none, -footer-display: none, -main-width: 100%, -main-bg-color: transparent, -main-box-shadow: none)); }