@use "../variables" as *;

@mixin MixComponentCheckbox($width: 40px, $height: 18px, $gap: 2px, $border: 1px, $color: $color-primary-dark) {
	$runnerSize: $height - ($gap * 2);

	&.checkbox {
		> label {
			display: inline-flex; align-items: center; cursor: pointer;
			> input {
				display: none;
				&:checked + div {
					justify-content: end;
				}
			}
			> div {
				padding: $gap; width: $width; height: $height; display: flex; align-items: center; border-radius: $width * 0.5; border: $border solid $color;
				&:after { content: ""; border-radius: 50%; width: $runnerSize; height: $runnerSize; background-color: $color; }
			}
			> span { padding-left: 20px; }
		}
	}

}
