<?php

	declare(strict_types=1);

	namespace <NAMESPACE>;

	use Base\Controller;
//	use Base\Data\Set;
//	use JetBrains\PhpStorm\NoReturn;

	/**
	 * Отвечает за обработку запросов
	 * @controller
	 */
	class <CLASS> extends Controller {
		public function __construct() {
			parent::__construct();
		}

//		/**
//		 * Пользовательский метод
//		 * @controllerMethod
//		 * @param Set $data - Пользовательские данные
//		 * @return void
//		 */
//		#[NoReturn] public function example(Set $data): void {
//			$data = $data->defined()->all();
//
//			$errors = [];
//			if (!$validated = validation($data, [], [], $errors)) response()->unprocessableEntity(__('Error validation'), $errors);
//
//			response()->ok();
//		}

	}