<?php

	declare(strict_types=1);

	namespace <NAMESPACE>;

	use Base\Access\Feature;

	/**
	 * Feature
	 * @param int $id - Identifier
	 * @param string $name - Name
	 * @param string $title - Title
	 */
	class <CLASS> extends Feature {

		public function __construct(int $id, string $name, string $title = '') {
			parent::__construct($id, $name, $title);<RIGHTS>
		}

	}
