<?php

	declare(strict_types=1);

	namespace <NAMESPACE>;

	use Base\Model;

	/**
	 * Пользовательская модель
	 */
	class <CLASS> extends Model {
		public function __construct() {
			parent::__construct();
		}

//		/**
//		 * Пользовательский метод
//		 * @param array $data - Данные
//		 * @return bool
//		 */
//		public function example(array $data): bool {
//			return true;
//		}

	}