			$this->table_<TABLE_NAME_UPERCASE> = $structure->table('<TABLE_NAME_LOWERCASE>', __('Пользовательская таблица <TABLE_NAME_LOWERCASE>'));
			$this->table_<TABLE_NAME_UPERCASE>->id('id', __('Идентификатор'));
			$this->table_<TABLE_NAME_UPERCASE>->uint8('state', __('Состояние'));
			$this->table_<TABLE_NAME_UPERCASE>->timestamp('datecr', false, __('Дата создания'));
			$this->table_<TABLE_NAME_UPERCASE>->timestamp('datemd', true, __('Дата изменения'));