			$this->table_<TABLE_NAME> = $structure->table('<TABLE_NAME>', __('Пользовательская таблица <TABLE_NAME>'));
			$this->table_<TABLE_NAME>->id('id', __('Идентификатор'));
			$this->table_<TABLE_NAME>->uint8('state', __('Состояние'));
			$this->table_<TABLE_NAME>->timestamp('datecr', false, __('Дата создания'));
			$this->table_<TABLE_NAME>->timestamp('datemd', true, __('Дата изменения'));