@use "../variables" as *;

&.out {

	&.head {
		display: flex;
		> div { flex: auto; padding: 1rem 0.6rem 1rem 3.5rem; }
		> .logout {
			flex: none; width: 40px; background-image: url("img/ui/white/exit.svg"); background-size: 19px;
			&:hover { background-color: $color-primary; }
		}
	}

	&.footer {
		.small { margin-top: 0.4rem; padding-top: 0.4rem; font-size: 0.8rem; }
	}

}