/* Палитра */


$color-background				: #FFFFFF;
$color-text						: #000000;

// Основной цвет: #25695C #284F47 #0C4439 #5DB4A3 #74B4A7
$color-primary					: #25695C;
$color-primary-dark				: #284F47;
$color-primary-extra-dark		: #0C4439;
$color-primary-light			: #5DB4A3;
$color-primary-extra-light		: #74B4A7;

// Дополнительный цвет: #A4643A #7B573F #6B3513 #D2946C #D2A487
$color-secondary				: #A4643A;
$color-secondary-dark			: #7B573F;

//
$color-negative					: $color-secondary;

// Оттенки серого: #EAEEEDFF
$color-neutral					: #EAEEED;
$color-neutral-dark				: #CCD2D0;
$color-neutral-extra-dark		: #818682;

// Другие цвета
$color-inverse					: $color-background;


/* Порядок */


$z-top							: 1;
$z-extra-top					: 2;
$z-windows						: 200;
$z-notices						: 300;
$z-debugger						: 400;


/* Элементы */


$elem-padding: 8px 16px;

$elem-border-radius				: 6px;
$elem-background				: $color-primary-light;
$elem-border-color				: $color-primary-light;
$elem-border					: 1px solid $color-primary-light;

$elem-hover-background			: $color-primary;
$elem-hover-border-color		: $color-primary;

$elem-active-background			: $color-primary-extra-dark;
$elem-active-border-color		: $color-primary-extra-dark;