@use "admin/variables" as *;
@use "admin/common" as *;

@use "admin/components" as *;
@use "admin/debugger" as *;

@use "admin/views/out" as out;
@use "admin/views/db" as db;
@use "admin/views/notices" as notices;

* { box-sizing: border-box; }
html { height: 100%; font-family: $font; font-size: 14px; color: $color-text; }
h1 { margin: 0; }
h3 { margin: 0; text-align: center; }
ul { margin: 0; padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: $color-link; }
input {
	outline: none; font-family: $font; font-size: 1rem;
	&[type="submit"] { @include MixBtn; cursor: pointer; }
	&[type="text"], &[type="password"] { @include SampleText; }
}
select {
	outline: 0; font-family: $font; font-size: 1rem; @include SampleText;
}
.hide { display: none; }
body {
	margin: 0; height: 100%; display: flex; flex-direction: column;
	> header {
		position: relative; background-color: $color-primary-dark; color: $color-text-primary; /*background-image: url("img/logo/logo.svg"); background-size: 26px; background-repeat: no-repeat; background-position: left 10px center;*/
	}
	> div {
		flex: auto; display: flex;
		menu {
			position: relative; z-index: $z-menu; flex: none; margin: 0; padding: 0; width: 200px; background-color: $color-primary; color: $color-text-primary;
			a { color: $color-text-primary; }
		}
		main { flex: auto; position: relative; }
	}
	> footer { position: relative; padding: 1rem 0.6rem; text-align: center; background-color: $color-primary-dark; color: $color-text-primary; }
}
.ico { background-size: cover; background-position: center; background-repeat: no-repeat; }

menu {
	hr { margin: 0; border-color: $color-primary-dark; }
	.head { padding: 0.6rem; color: $color-primary-dark; }
	li {
		> span {
			position: relative; display: block; padding: 0.6rem; cursor: pointer;
			> ul { position: absolute; display: none; top: 0; left: 200px; width: 200px; background-color: $color-primary; }
			&:hover { background-color: $color-secondary; }
		}
		> a { display: block; padding: 0.6rem; }
		&:hover {
			background-color: $color-secondary;
			> span > ul { display: block; }
		}
	}
}

main {
	padding: 0.2rem;
	.navigate {
		padding: 1rem;
		> a:not(:last-child) { margin-right: 0.6rem; }
	}
	h1 { padding: 1rem 0; font-size: 1.4rem; text-align: center; }
	table {
		&.select {
			> thead > tr {
				background-color: $color-secondary; color: $color-text-primary;
				> th { padding: 0.6rem; font-weight: 400; }
			}
			> tbody > tr {
				&:nth-child(even) { background-color: $color-primary-super-light; }
				&:hover { background-color: $color-tertiary-light; }
				> td { padding: 0.6rem; }
			}
		}
		&.create, &.update, &.browse {
			> tbody > tr {
				> th { padding: 0.6rem; text-align: left; font-weight: 700; vertical-align: top; }
			}
		}
	}
}

.pagination {
	margin: 0.5rem 0; font-size: 1.2rem; text-align: center;
	> a {
		display: inline-block; padding: 0.5rem;
		&:not(.current):hover { background-color: $color-neutral-light; }
		&.current { color: $color-text; }
	}
}

[data-field].error {
	input, select { border-color: $color-negative; }
	> .errors {
		display: flex; flex-direction: column;
		&:not(:empty) { margin-top: 0.5rem; }
		> span {
			color: $color-negative;
			&:not(:first-child) { margin-top: 0.4rem; }
		}
	}
}

table.update > tbody { vertical-align: top; }

//@import "units/general";

//.cn-mb-1 { margin-bottom: 1rem; }
//.cn-center { text-align: center; }

div.view {
	@include out.styles;
	@include db.styles;
	@include notices.styles;
}